// Navigation Styles here
.header{
    display: flex;
    justify-content: space-around;
    margin-top: 15px; 
  }
  
  .header nav{
    display: flex;
	justify-content: flex-end;
	flex-basis: 80%;

  }
  
  nav a {
    padding: 20px;
    color: grey;
    text-decoration: none;
    font-size: 15px;

  }
  
  nav a:hover{
    background: white;
    color: red;
    font-weight: bold;
    cursor: pointer;
  }

.fun-bus-image{
    border-top: 1px dashed black;

}

.note{
    border-bottom: 1px dashed black;
}

.btn{
    border: 1px solid black;
    width: 120px;
    font-size: 15px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: teal;

}

// MOBILE
@media(max-width:500px){
    .header{
        display: flex;
        flex-direction: column;
    }

}

@media(max-width:500px){
    .header nav{
        justify-content: space-evenly;
    }
}

@media(max-width:500px){
    h1{
        justify-content: center;
        margin-left: 150px;
        
    }
}


@media(max-width:500px){
    .fun-bus-image{
        margin-left: 20px;
        margin-right: 20px;
        
    }
}

@media(max-width:500px){
    .welcome{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media(max-width:500px){
    .content-pick{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        
    }
}




@media(max-width:500px){
    .text-content{
        margin-left: 20px;
    }
}
@media(max-width:500px){
    .img-content{
        margin-right: 20px;
    }
}